{
  "action" : "actions",
  "list" : [
    {
      "action" : "sound",
      "options" : [ "/sfx/cinematics/protectorate/ship_takeoff_jetburst1.ogg" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 3,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 40,
      "delaySteps" : 1.75
    }
  ]
}
